{
  "swagger" : "2.0",
  "info" : {
    "version" : "2.2.0",
    "title" : "SUPLA Cloud API"
  },
  "host" : "cloud.supla.org",
  "basePath" : "/api/v2.2.0",
  "schemes" : [ "https", "http" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "security" : [ {
    "password" : [ ]
  } ],
  "paths" : {
    "/server-info" : {
      "get" : {
        "tags" : [ "Server" ],
        "summary" : "Get server status",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Server status",
            "schema" : {
              "$ref" : "#/definitions/inline_response_200"
            }
          }
        },
        "security" : [ ]
      }
    },
    "/server-status" : {
      "get" : {
        "tags" : [ "Server" ],
        "summary" : "Get the SUPLA Server status",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "SUPLA Server is alive",
            "schema" : {
              "$ref" : "#/definitions/inline_response_200_1"
            }
          },
          "503" : {
            "description" : "SUPLA Server is down",
            "schema" : {
              "$ref" : "#/definitions/inline_response_503"
            }
          }
        },
        "security" : [ ]
      }
    },
    "/users/current" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Get current user",
        "operationId" : "getCurrentUser",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/User request"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Users" ],
        "summary" : "Edit current user",
        "operationId" : "editCurrentUser",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/body"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/inline_response_200_2"
            }
          }
        }
      }
    },
    "/locations" : {
      "get" : {
        "tags" : [ "Locations" ],
        "summary" : "Get locations list",
        "operationId" : "getLocations",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Specify what extra fields to include in the response.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "channels", "iodevices", "accessids", "channelGroups", "password" ]
          },
          "collectionFormat" : "csv"
        } ],
        "responses" : {
          "200" : {
            "description" : "List of locations owned by the current user.",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Location"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Locations" ],
        "summary" : "Create a new location",
        "operationId" : "createLocation",
        "parameters" : [ ],
        "responses" : {
          "201" : {
            "description" : "Newely created location with automatic name",
            "schema" : {
              "$ref" : "#/definitions/Location"
            }
          }
        }
      }
    },
    "/locations/{id}" : {
      "get" : {
        "tags" : [ "Locations" ],
        "summary" : "Get location by ID",
        "operationId" : "getLocation",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Specify what extra fields to include in the response.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "channels", "iodevices", "accessids", "channelGroups", "password" ]
          },
          "collectionFormat" : "csv"
        } ],
        "responses" : {
          "200" : {
            "description" : "Get location",
            "schema" : {
              "$ref" : "#/definitions/Location"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Locations" ],
        "summary" : "Edit location",
        "operationId" : "updateLocation",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Specify what extra fields to include in the response.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "channels", "iodevices", "accessids", "channelGroups", "password" ]
          },
          "collectionFormat" : "csv"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/body_1"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Definition generated from Swagger Inspector",
            "schema" : {
              "$ref" : "#/definitions/Location"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Locations" ],
        "summary" : "Delete location",
        "operationId" : "deleteLocation",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Specify what extra fields to include in the response.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "channels", "iodevices", "accessids", "channelGroups", "password" ]
          },
          "collectionFormat" : "csv"
        } ],
        "responses" : {
          "204" : {
            "description" : "Location has been successfully deleted"
          }
        }
      }
    },
    "/channels" : {
      "get" : {
        "tags" : [ "Channels" ],
        "summary" : "Get channels list",
        "operationId" : "getChannels",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Specify what extra fields to include in the response.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "iodevice", "location" ]
          },
          "collectionFormat" : "csv"
        }, {
          "name" : "function",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "NONE", "CONTROLLINGTHEGATEWAYLOCK", "CONTROLLINGTHEGATE", "CONTROLLINGTHEGARAGEDOOR", "THERMOMETER", "HUMIDITY", "HUMIDITYANDTEMPERATURE", "OPENINGSENSOR_GATEWAY", "OPENINGSENSOR_GATE", "OPENINGSENSOR_GARAGEDOOR", "NOLIQUIDSENSOR", "CONTROLLINGTHEDOORLOCK", "OPENINGSENSOR_DOOR", "CONTROLLINGTHEROLLERSHUTTER", "OPENINGSENSOR_ROLLERSHUTTER", "POWERSWITCH", "LIGHTSWITCH", "DIMMER", "RGBLIGHTING", "DIMMERANDRGBLIGHTING", "DEPTHSENSOR", "DISTANCESENSOR", "OPENINGSENSOR_WINDOW", "MAILSENSOR", "WINDSENSOR", "PRESSURESENSOR", "RAINSENSOR", "WEIGHTSENSOR", "WEATHER_STATION", "STAIRCASETIMER" ]
          },
          "collectionFormat" : "csv"
        }, {
          "name" : "io",
          "in" : "query",
          "description" : "Return only `input` or `output` channels.",
          "required" : false,
          "type" : "string",
          "enum" : [ "input", "output" ]
        }, {
          "name" : "hasFunction",
          "in" : "query",
          "description" : "Return only channels with (`true`) or without (`false`) chosen functions.",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "List of channels owned by the current user.",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Channel"
              }
            }
          }
        }
      }
    },
    "/channels/{id}" : {
      "get" : {
        "tags" : [ "Channels" ],
        "summary" : "Get channel by ID",
        "operationId" : "getChannel",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Specify what extra fields to include in the response.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "iodevice", "location", "connected", "state", "supportedFunctions" ]
          },
          "collectionFormat" : "csv"
        } ],
        "responses" : {
          "200" : {
            "description" : "Get channel",
            "schema" : {
              "$ref" : "#/definitions/Channel"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Channels" ],
        "summary" : "Update channel",
        "operationId" : "updateChannel",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/body_2"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Updated channel",
            "schema" : {
              "$ref" : "#/definitions/Channel"
            }
          },
          "409" : {
            "description" : "Channel update will result in data loss. Please confirm the request with `confirm=true` GET param to force.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_409"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Channels" ],
        "summary" : "Execute action on the channel",
        "operationId" : "executeAction",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Defines an action to execute on channel. The `action` key is always required. The rest of the keys are params depending on the chosen action. Read more on [Github Wiki](https://github.com/SUPLA/supla-cloud/wiki/Channel-Actions).",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/body_3"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Action has been executed."
          },
          "400" : {
            "description" : "Invalid request.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400"
            }
          }
        }
      }
    },
    "/channels/{id}/schedules" : {
      "get" : {
        "tags" : [ "Channels" ],
        "summary" : "Get schedules list of the channel",
        "operationId" : "getChannelSchedules",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Specify what extra fields to include in the response.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "channel", "iodevice", "location", "closestExecutions" ]
          },
          "collectionFormat" : "csv"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Schedule"
              }
            }
          }
        }
      }
    },
    "/channels/{id}/measurement-logs-csv" : {
      "get" : {
        "tags" : [ "Channels" ],
        "summary" : "Get measurement logs as zipped CSV file.",
        "description" : "Supported channel functions: `THERMOMETER` and `HUMIDITYANDTEMPERATURE`. Logs ordered by date, descending.",
        "operationId" : "getChannelMeasurementLogsCsvFile",
        "produces" : [ "application/zip" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "file"
            }
          },
          "400" : {
            "description" : "Unsupoorted channel",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          }
        }
      }
    },
    "/channels/{id}/measurement-logs" : {
      "get" : {
        "tags" : [ "Channels" ],
        "summary" : "Get measurement logs.",
        "description" : "Supported channel functions: `THERMOMETER` and `HUMIDITYANDTEMPERATURE`. Logs ordered by date, descending.",
        "operationId" : "getChannelMeasurementLogs",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum items count in response, from 1 to 5000",
          "required" : false,
          "type" : "integer",
          "default" : 5000
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Pagination offset",
          "required" : false,
          "type" : "integer"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/inline_response_200_3"
              }
            },
            "headers" : {
              "X-Total-Count" : {
                "type" : "integer",
                "description" : "Total count of logs for this channel."
              }
            }
          },
          "400" : {
            "description" : "Unsupoorted channel",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          }
        }
      }
    },
    "/channel-groups" : {
      "get" : {
        "tags" : [ "Channel Groups" ],
        "summary" : "Get channels list",
        "operationId" : "getChannelGroups",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Specify what extra fields to include in the response.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "channels" ]
          },
          "collectionFormat" : "csv"
        } ],
        "responses" : {
          "200" : {
            "description" : "List of channels oroups owned by the current user.",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/ChannelGroup"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Channel Groups" ],
        "summary" : "Create a new channel group",
        "operationId" : "createChannelGroup",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/body_4"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Newely created channel group",
            "schema" : {
              "$ref" : "#/definitions/ChannelGroup"
            }
          }
        }
      }
    },
    "/channel-groups/{id}" : {
      "get" : {
        "tags" : [ "Channel Groups" ],
        "summary" : "Get channel group by ID",
        "operationId" : "getChannelGroup",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Specify what extra fields to include in the response.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "channels", "iodevice", "location" ]
          },
          "collectionFormat" : "csv"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ChannelGroup"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Channel Groups" ],
        "summary" : "Update channel group",
        "operationId" : "updateChannelGroup",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/body_5"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ChannelGroup"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Channel Groups" ],
        "summary" : "Delete Channel Group",
        "operationId" : "deleteChannelGroup",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        } ],
        "responses" : {
          "204" : {
            "description" : "Channel Group has been successfully deleted"
          }
        }
      },
      "patch" : {
        "tags" : [ "Channel Groups" ],
        "summary" : "Execute action on the channel group",
        "operationId" : "executeChannelGroupAction",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Defines an action to execute on channel group. The `action` key is always required. The rest of the keys are params depending on the chosen action. Read more on [Github Wiki](https://github.com/SUPLA/supla-cloud/wiki/Channel-Actions).",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/body_6"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Action has been executed."
          },
          "400" : {
            "description" : "Invalid request.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400"
            }
          }
        }
      }
    },
    "/client-apps" : {
      "get" : {
        "tags" : [ "Client Apps" ],
        "summary" : "Get client apps",
        "operationId" : "getClientApps",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Specify what extra fields to include in the response.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "accessId", "connected" ]
          },
          "collectionFormat" : "csv"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/ClientApp"
              }
            }
          }
        }
      }
    },
    "/client-apps/{id}" : {
      "put" : {
        "tags" : [ "Client Apps" ],
        "summary" : "Update client app",
        "operationId" : "updateClientApp",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/body_7"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ClientApp"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Client Apps" ],
        "summary" : "Delete Client App",
        "operationId" : "deleteClientApp",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        } ],
        "responses" : {
          "204" : {
            "description" : "Success"
          }
        }
      }
    },
    "/iodevices" : {
      "get" : {
        "tags" : [ "IO Devices" ],
        "summary" : "Get IO Devices",
        "operationId" : "getIoDevices",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Specify what extra fields to include in the response.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "channels", "location", "originalLocation", "connected", "schedules" ]
          },
          "collectionFormat" : "csv"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Device"
              }
            }
          }
        }
      }
    },
    "/iodevices/{id}" : {
      "get" : {
        "tags" : [ "IO Devices" ],
        "summary" : "Get IO Device",
        "operationId" : "getIoDevice",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Specify what extra fields to include in the response.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "channels", "location", "originalLocation", "connected", "schedules", "accessids" ]
          },
          "collectionFormat" : "csv"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/Device"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "IO Devices" ],
        "summary" : "Update IO Device",
        "operationId" : "updateIoDevice",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/body_8"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/Device"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "IO Devices" ],
        "summary" : "Delete IO Device",
        "operationId" : "deleteIoDevice",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        } ],
        "responses" : {
          "204" : {
            "description" : "Success"
          }
        }
      }
    },
    "/iodevices/{id}/channels" : {
      "get" : {
        "tags" : [ "IO Devices" ],
        "summary" : "Get Channels that belong to IO Deice",
        "operationId" : "getIoDeviceChannels",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Specify what extra fields to include in the response.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "iodevice", "location" ]
          },
          "collectionFormat" : "csv"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/Channel"
            }
          }
        }
      }
    },
    "/schedules" : {
      "get" : {
        "tags" : [ "Schedules" ],
        "summary" : "Get schedules list",
        "operationId" : "getSchedules",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Specify what extra fields to include in the response.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "channel", "iodevice", "location", "closestExecutions" ]
          },
          "collectionFormat" : "csv"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Schedule"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Schedules" ],
        "summary" : "Create a new schedule",
        "operationId" : "createSchedule",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ScheduleRequest"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/Schedule"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Schedules" ],
        "summary" : "Enable schedules",
        "operationId" : "enableSchedules",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/body_9"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success"
          }
        }
      }
    },
    "/schedules/{id}" : {
      "get" : {
        "tags" : [ "Schedules" ],
        "summary" : "Get Schedule",
        "operationId" : "getSchedule",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Specify what extra fields to include in the response.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "channel", "iodevice", "location", "closestExecutions" ]
          },
          "collectionFormat" : "csv"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/Schedule"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Schedules" ],
        "summary" : "Update schedule",
        "operationId" : "updateSchedule",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ScheduleRequest"
          }
        }, {
          "name" : "enable",
          "in" : "query",
          "description" : "Set to `true` to enable the schedule after saving.",
          "required" : false,
          "type" : "boolean",
          "enum" : [ "true" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/Schedule"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Schedules" ],
        "summary" : "Delete Schedule",
        "operationId" : "deleteSchedule",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        } ],
        "responses" : {
          "204" : {
            "description" : "Success"
          }
        }
      }
    },
    "/accessids" : {
      "get" : {
        "tags" : [ "Access IDs" ],
        "summary" : "Get Access IDs list",
        "operationId" : "getAccessID",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Specify what extra fields to include in the response.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "locations", "clientApps", "password" ]
          },
          "collectionFormat" : "csv"
        } ],
        "responses" : {
          "200" : {
            "description" : "List of Access IDs owned by the current user.",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/AccessID"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Access IDs" ],
        "summary" : "Create a new Access ID",
        "operationId" : "createAccessID",
        "parameters" : [ ],
        "responses" : {
          "201" : {
            "description" : "Newely created AccessID with automatic name",
            "schema" : {
              "$ref" : "#/definitions/AccessID"
            }
          }
        }
      }
    },
    "/accessids/{id}" : {
      "get" : {
        "tags" : [ "Access IDs" ],
        "summary" : "Get Access ID",
        "operationId" : "getAccessID",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Specify what extra fields to include in the response.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "locations", "clientApps", "password" ]
          },
          "collectionFormat" : "csv"
        } ],
        "responses" : {
          "200" : {
            "description" : "Get Access ID",
            "schema" : {
              "$ref" : "#/definitions/AccessID"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Access IDs" ],
        "summary" : "Edit Access ID",
        "operationId" : "updateAccessID",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/body_10"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Definition generated from Swagger Inspector",
            "schema" : {
              "$ref" : "#/definitions/AccessID"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Access IDs" ],
        "summary" : "Delete Access Identifier",
        "operationId" : "deleteAccessID",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        } ],
        "responses" : {
          "204" : {
            "description" : "Access Identifier has been successfully deleted"
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "password" : {
      "type" : "oauth2",
      "tokenUrl" : "https://beta-cloud.supla.org/oauth/v2/token",
      "flow" : "password",
      "scopes" : {
        "restapi" : "full API access"
      }
    }
  },
  "definitions" : {
    "AccessID" : {
      "properties" : {
        "id" : {
          "type" : "integer",
          "description" : "Access ID identifier"
        },
        "caption" : {
          "type" : "string",
          "description" : "Location caption"
        },
        "enabled" : {
          "type" : "boolean",
          "description" : "`true` if the location is enabled, `false` otherwise"
        },
        "locationsIds" : {
          "type" : "array",
          "description" : "array containing the location idenfifiers assigned to this access ID",
          "items" : {
            "type" : "integer"
          }
        },
        "clientAppsIds" : {
          "type" : "array",
          "description" : "array containing the client apps idenfifiers assigned to this access ID",
          "items" : {
            "type" : "integer"
          }
        },
        "locations" : {
          "type" : "array",
          "description" : "Returned only if requested by the `include` parameter.",
          "items" : {
            "$ref" : "#/definitions/Location"
          }
        },
        "clientApps" : {
          "type" : "array",
          "description" : "Returned only if requested by the `include` parameter.",
          "items" : {
            "$ref" : "#/definitions/ClientApp"
          }
        }
      },
      "example" : {
        "clientApps" : [ {
          "lastAccessIpv4" : 6,
          "caption" : "caption",
          "regDate" : "2000-01-23T04:56:07.000+00:00",
          "enabled" : true,
          "connected" : true,
          "accessId" : null,
          "accessIdId" : 2,
          "lastAccessDate" : "2000-01-23T04:56:07.000+00:00",
          "regIpv4" : 3,
          "name" : "name",
          "protocolVersion" : 1,
          "id" : 6,
          "softwareVersion" : "softwareVersion"
        }, {
          "lastAccessIpv4" : 6,
          "caption" : "caption",
          "regDate" : "2000-01-23T04:56:07.000+00:00",
          "enabled" : true,
          "connected" : true,
          "accessId" : null,
          "accessIdId" : 2,
          "lastAccessDate" : "2000-01-23T04:56:07.000+00:00",
          "regIpv4" : 3,
          "name" : "name",
          "protocolVersion" : 1,
          "id" : 6,
          "softwareVersion" : "softwareVersion"
        } ],
        "caption" : "caption",
        "locations" : [ null, null ],
        "id" : 6,
        "clientAppsIds" : [ 9, 9 ],
        "enabled" : true,
        "locationsIds" : [ 8, 8 ]
      }
    },
    "ClientApp" : {
      "properties" : {
        "id" : {
          "type" : "integer",
          "description" : "Client application identifier"
        },
        "name" : {
          "type" : "string"
        },
        "caption" : {
          "type" : "string"
        },
        "enabled" : {
          "type" : "boolean"
        },
        "regIpv4" : {
          "type" : "integer"
        },
        "regDate" : {
          "type" : "string",
          "format" : "date-time"
        },
        "lastAccessIpv4" : {
          "type" : "integer"
        },
        "lastAccessDate" : {
          "type" : "string",
          "format" : "date-time"
        },
        "softwareVersion" : {
          "type" : "string"
        },
        "protocolVersion" : {
          "type" : "integer"
        },
        "accessIdId" : {
          "type" : "integer"
        },
        "connected" : {
          "type" : "boolean"
        },
        "accessId" : {
          "$ref" : "#/definitions/AccessID"
        }
      },
      "example" : {
        "lastAccessIpv4" : 6,
        "caption" : "caption",
        "regDate" : "2000-01-23T04:56:07.000+00:00",
        "enabled" : true,
        "connected" : true,
        "accessId" : null,
        "accessIdId" : 2,
        "lastAccessDate" : "2000-01-23T04:56:07.000+00:00",
        "regIpv4" : 3,
        "name" : "name",
        "protocolVersion" : 1,
        "id" : 6,
        "softwareVersion" : "softwareVersion"
      }
    },
    "Channel" : {
      "properties" : {
        "id" : {
          "type" : "integer",
          "description" : "Channel identifier"
        },
        "channelNumber" : {
          "type" : "integer",
          "description" : "Channel ordinal number in its IO Device"
        },
        "caption" : {
          "type" : "string",
          "description" : "Channel caption"
        },
        "type" : {
          "$ref" : "#/definitions/ChannelType"
        },
        "function" : {
          "$ref" : "#/definitions/ChannelFunction"
        },
        "param1" : {
          "$ref" : "#/definitions/ChannelParam"
        },
        "param2" : {
          "$ref" : "#/definitions/ChannelParam"
        },
        "param3" : {
          "$ref" : "#/definitions/ChannelParam"
        },
        "altIcon" : {
          "type" : "integer",
          "description" : "Chosen alternative icon idenifier. Should not be greater than `funciton.maxAlternativeIconIndex`"
        },
        "hidden" : {
          "type" : "boolean",
          "description" : "Whether this channel is shown on client apps or not"
        },
        "inheritedLocation" : {
          "type" : "boolean",
          "description" : "Whether this channel inherits its IO Device's location (`true`) or not (`false`)"
        },
        "iodeviceId" : {
          "type" : "integer"
        },
        "locationId" : {
          "type" : "integer"
        },
        "functionId" : {
          "type" : "integer",
          "example" : 60
        },
        "typeId" : {
          "type" : "integer",
          "example" : 1000
        },
        "iodevice" : {
          "$ref" : "#/definitions/Device"
        },
        "location" : {
          "$ref" : "#/definitions/Location"
        },
        "connected" : {
          "type" : "boolean"
        },
        "supportedFunctions" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ChannelFunction"
          }
        }
      },
      "example" : {
        "hidden" : true,
        "channelNumber" : 1,
        "iodevice" : null,
        "caption" : "caption",
        "type" : {
          "output" : false,
          "name" : "SENSORNO",
          "caption" : "Sensor (normal open)",
          "id" : 1
        },
        "param3" : null,
        "param1" : { },
        "param2" : null,
        "altIcon" : 7,
        "connected" : true,
        "functionId" : 60,
        "supportedFunctions" : [ {
          "maxAlternativeIconIndex" : 1,
          "possibleActions" : [ {
            "name" : { },
            "caption" : "caption",
            "id" : 6
          }, {
            "name" : { },
            "caption" : "caption",
            "id" : 6
          } ],
          "name" : "OPENINGSENSOR_GATE",
          "caption" : "Gate opening sensor",
          "id" : 60
        }, {
          "maxAlternativeIconIndex" : 1,
          "possibleActions" : [ {
            "name" : { },
            "caption" : "caption",
            "id" : 6
          }, {
            "name" : { },
            "caption" : "caption",
            "id" : 6
          } ],
          "name" : "OPENINGSENSOR_GATE",
          "caption" : "Gate opening sensor",
          "id" : 60
        } ],
        "locationId" : 4,
        "function" : {
          "maxAlternativeIconIndex" : 1,
          "possibleActions" : [ {
            "name" : { },
            "caption" : "caption",
            "id" : 6
          }, {
            "name" : { },
            "caption" : "caption",
            "id" : 6
          } ],
          "name" : "OPENINGSENSOR_GATE",
          "caption" : "Gate opening sensor",
          "id" : 60
        },
        "typeId" : 1000,
        "location" : null,
        "id" : 7,
        "inheritedLocation" : true,
        "iodeviceId" : 1
      }
    },
    "ChannelGroup" : {
      "properties" : {
        "id" : {
          "type" : "integer",
          "example" : 1,
          "description" : "Channel group identifier"
        },
        "hidden" : {
          "type" : "boolean",
          "description" : "Whether this channel group is shown on client apps or not"
        },
        "caption" : {
          "type" : "string",
          "description" : "Channel caption"
        },
        "function" : {
          "$ref" : "#/definitions/ChannelFunction"
        },
        "functionId" : {
          "type" : "integer",
          "example" : 60
        },
        "locationId" : {
          "type" : "integer"
        },
        "location" : {
          "$ref" : "#/definitions/Location"
        },
        "channelIds" : {
          "type" : "array",
          "items" : {
            "type" : "integer"
          }
        },
        "channels" : {
          "type" : "array",
          "description" : "Returned only if requested by the `include` parameter.",
          "items" : {
            "$ref" : "#/definitions/Channel"
          }
        },
        "altIcon" : {
          "type" : "integer",
          "description" : "Chosen alternative icon idenifier. Should not be greater than `funciton.maxAlternativeIconIndex`"
        }
      },
      "example" : {
        "functionId" : 60,
        "hidden" : true,
        "channels" : [ {
          "hidden" : true,
          "channelNumber" : 1,
          "iodevice" : null,
          "caption" : "caption",
          "type" : {
            "output" : false,
            "name" : "SENSORNO",
            "caption" : "Sensor (normal open)",
            "id" : 1
          },
          "param3" : null,
          "param1" : { },
          "param2" : null,
          "altIcon" : 7,
          "connected" : true,
          "functionId" : 60,
          "supportedFunctions" : [ {
            "maxAlternativeIconIndex" : 1,
            "possibleActions" : [ {
              "name" : { },
              "caption" : "caption",
              "id" : 6
            }, {
              "name" : { },
              "caption" : "caption",
              "id" : 6
            } ],
            "name" : "OPENINGSENSOR_GATE",
            "caption" : "Gate opening sensor",
            "id" : 60
          }, {
            "maxAlternativeIconIndex" : 1,
            "possibleActions" : [ {
              "name" : { },
              "caption" : "caption",
              "id" : 6
            }, {
              "name" : { },
              "caption" : "caption",
              "id" : 6
            } ],
            "name" : "OPENINGSENSOR_GATE",
            "caption" : "Gate opening sensor",
            "id" : 60
          } ],
          "locationId" : 4,
          "function" : {
            "maxAlternativeIconIndex" : 1,
            "possibleActions" : [ {
              "name" : { },
              "caption" : "caption",
              "id" : 6
            }, {
              "name" : { },
              "caption" : "caption",
              "id" : 6
            } ],
            "name" : "OPENINGSENSOR_GATE",
            "caption" : "Gate opening sensor",
            "id" : 60
          },
          "typeId" : 1000,
          "location" : null,
          "id" : 7,
          "inheritedLocation" : true,
          "iodeviceId" : 1
        }, {
          "hidden" : true,
          "channelNumber" : 1,
          "iodevice" : null,
          "caption" : "caption",
          "type" : {
            "output" : false,
            "name" : "SENSORNO",
            "caption" : "Sensor (normal open)",
            "id" : 1
          },
          "param3" : null,
          "param1" : { },
          "param2" : null,
          "altIcon" : 7,
          "connected" : true,
          "functionId" : 60,
          "supportedFunctions" : [ {
            "maxAlternativeIconIndex" : 1,
            "possibleActions" : [ {
              "name" : { },
              "caption" : "caption",
              "id" : 6
            }, {
              "name" : { },
              "caption" : "caption",
              "id" : 6
            } ],
            "name" : "OPENINGSENSOR_GATE",
            "caption" : "Gate opening sensor",
            "id" : 60
          }, {
            "maxAlternativeIconIndex" : 1,
            "possibleActions" : [ {
              "name" : { },
              "caption" : "caption",
              "id" : 6
            }, {
              "name" : { },
              "caption" : "caption",
              "id" : 6
            } ],
            "name" : "OPENINGSENSOR_GATE",
            "caption" : "Gate opening sensor",
            "id" : 60
          } ],
          "locationId" : 4,
          "function" : {
            "maxAlternativeIconIndex" : 1,
            "possibleActions" : [ {
              "name" : { },
              "caption" : "caption",
              "id" : 6
            }, {
              "name" : { },
              "caption" : "caption",
              "id" : 6
            } ],
            "name" : "OPENINGSENSOR_GATE",
            "caption" : "Gate opening sensor",
            "id" : 60
          },
          "typeId" : 1000,
          "location" : null,
          "id" : 7,
          "inheritedLocation" : true,
          "iodeviceId" : 1
        } ],
        "locationId" : 0,
        "function" : {
          "maxAlternativeIconIndex" : 1,
          "possibleActions" : [ {
            "name" : { },
            "caption" : "caption",
            "id" : 6
          }, {
            "name" : { },
            "caption" : "caption",
            "id" : 6
          } ],
          "name" : "OPENINGSENSOR_GATE",
          "caption" : "Gate opening sensor",
          "id" : 60
        },
        "caption" : "caption",
        "location" : {
          "iodevicesIds" : [ 6, 6 ],
          "password" : "password",
          "channels" : [ {
            "hidden" : true,
            "channelNumber" : 1,
            "iodevice" : null,
            "caption" : "caption",
            "type" : {
              "output" : false,
              "name" : "SENSORNO",
              "caption" : "Sensor (normal open)",
              "id" : 1
            },
            "param3" : null,
            "param1" : { },
            "param2" : null,
            "altIcon" : 7,
            "connected" : true,
            "functionId" : 60,
            "supportedFunctions" : [ {
              "maxAlternativeIconIndex" : 1,
              "possibleActions" : [ {
                "name" : { },
                "caption" : "caption",
                "id" : 6
              }, {
                "name" : { },
                "caption" : "caption",
                "id" : 6
              } ],
              "name" : "OPENINGSENSOR_GATE",
              "caption" : "Gate opening sensor",
              "id" : 60
            }, {
              "maxAlternativeIconIndex" : 1,
              "possibleActions" : [ {
                "name" : { },
                "caption" : "caption",
                "id" : 6
              }, {
                "name" : { },
                "caption" : "caption",
                "id" : 6
              } ],
              "name" : "OPENINGSENSOR_GATE",
              "caption" : "Gate opening sensor",
              "id" : 60
            } ],
            "locationId" : 4,
            "function" : {
              "maxAlternativeIconIndex" : 1,
              "possibleActions" : [ {
                "name" : { },
                "caption" : "caption",
                "id" : 6
              }, {
                "name" : { },
                "caption" : "caption",
                "id" : 6
              } ],
              "name" : "OPENINGSENSOR_GATE",
              "caption" : "Gate opening sensor",
              "id" : 60
            },
            "typeId" : 1000,
            "location" : null,
            "id" : 7,
            "inheritedLocation" : true,
            "iodeviceId" : 1
          }, {
            "hidden" : true,
            "channelNumber" : 1,
            "iodevice" : null,
            "caption" : "caption",
            "type" : {
              "output" : false,
              "name" : "SENSORNO",
              "caption" : "Sensor (normal open)",
              "id" : 1
            },
            "param3" : null,
            "param1" : { },
            "param2" : null,
            "altIcon" : 7,
            "connected" : true,
            "functionId" : 60,
            "supportedFunctions" : [ {
              "maxAlternativeIconIndex" : 1,
              "possibleActions" : [ {
                "name" : { },
                "caption" : "caption",
                "id" : 6
              }, {
                "name" : { },
                "caption" : "caption",
                "id" : 6
              } ],
              "name" : "OPENINGSENSOR_GATE",
              "caption" : "Gate opening sensor",
              "id" : 60
            }, {
              "maxAlternativeIconIndex" : 1,
              "possibleActions" : [ {
                "name" : { },
                "caption" : "caption",
                "id" : 6
              }, {
                "name" : { },
                "caption" : "caption",
                "id" : 6
              } ],
              "name" : "OPENINGSENSOR_GATE",
              "caption" : "Gate opening sensor",
              "id" : 60
            } ],
            "locationId" : 4,
            "function" : {
              "maxAlternativeIconIndex" : 1,
              "possibleActions" : [ {
                "name" : { },
                "caption" : "caption",
                "id" : 6
              }, {
                "name" : { },
                "caption" : "caption",
                "id" : 6
              } ],
              "name" : "OPENINGSENSOR_GATE",
              "caption" : "Gate opening sensor",
              "id" : 60
            },
            "typeId" : 1000,
            "location" : null,
            "id" : 7,
            "inheritedLocation" : true,
            "iodeviceId" : 1
          } ],
          "accessIdsIds" : [ 5, 5 ],
          "channelGroups" : [ ],
          "caption" : "caption",
          "channelGroupsIds" : [ 1, 1 ],
          "accessIds" : [ {
            "clientApps" : [ {
              "lastAccessIpv4" : 6,
              "caption" : "caption",
              "regDate" : "2000-01-23T04:56:07.000+00:00",
              "enabled" : true,
              "connected" : true,
              "accessId" : null,
              "accessIdId" : 2,
              "lastAccessDate" : "2000-01-23T04:56:07.000+00:00",
              "regIpv4" : 3,
              "name" : "name",
              "protocolVersion" : 1,
              "id" : 6,
              "softwareVersion" : "softwareVersion"
            }, {
              "lastAccessIpv4" : 6,
              "caption" : "caption",
              "regDate" : "2000-01-23T04:56:07.000+00:00",
              "enabled" : true,
              "connected" : true,
              "accessId" : null,
              "accessIdId" : 2,
              "lastAccessDate" : "2000-01-23T04:56:07.000+00:00",
              "regIpv4" : 3,
              "name" : "name",
              "protocolVersion" : 1,
              "id" : 6,
              "softwareVersion" : "softwareVersion"
            } ],
            "caption" : "caption",
            "locations" : [ null, null ],
            "id" : 6,
            "clientAppsIds" : [ 9, 9 ],
            "enabled" : true,
            "locationsIds" : [ 8, 8 ]
          }, {
            "clientApps" : [ {
              "lastAccessIpv4" : 6,
              "caption" : "caption",
              "regDate" : "2000-01-23T04:56:07.000+00:00",
              "enabled" : true,
              "connected" : true,
              "accessId" : null,
              "accessIdId" : 2,
              "lastAccessDate" : "2000-01-23T04:56:07.000+00:00",
              "regIpv4" : 3,
              "name" : "name",
              "protocolVersion" : 1,
              "id" : 6,
              "softwareVersion" : "softwareVersion"
            }, {
              "lastAccessIpv4" : 6,
              "caption" : "caption",
              "regDate" : "2000-01-23T04:56:07.000+00:00",
              "enabled" : true,
              "connected" : true,
              "accessId" : null,
              "accessIdId" : 2,
              "lastAccessDate" : "2000-01-23T04:56:07.000+00:00",
              "regIpv4" : 3,
              "name" : "name",
              "protocolVersion" : 1,
              "id" : 6,
              "softwareVersion" : "softwareVersion"
            } ],
            "caption" : "caption",
            "locations" : [ null, null ],
            "id" : 6,
            "clientAppsIds" : [ 9, 9 ],
            "enabled" : true,
            "locationsIds" : [ 8, 8 ]
          } ],
          "id" : 0,
          "iodevices" : [ {
            "originalLocation" : null,
            "lastIpv4" : 9,
            "gUIDString" : "gUIDString",
            "originalLocationId" : 2,
            "regDate" : "2000-01-23T04:56:07.000+00:00",
            "channelsIds" : [ 4, 4 ],
            "enabled" : true,
            "connected" : true,
            "channels" : [ {
              "hidden" : true,
              "channelNumber" : 1,
              "iodevice" : null,
              "caption" : "caption",
              "type" : {
                "output" : false,
                "name" : "SENSORNO",
                "caption" : "Sensor (normal open)",
                "id" : 1
              },
              "param3" : null,
              "param1" : { },
              "param2" : null,
              "altIcon" : 7,
              "connected" : true,
              "functionId" : 60,
              "supportedFunctions" : [ {
                "maxAlternativeIconIndex" : 1,
                "possibleActions" : [ {
                  "name" : { },
                  "caption" : "caption",
                  "id" : 6
                }, {
                  "name" : { },
                  "caption" : "caption",
                  "id" : 6
                } ],
                "name" : "OPENINGSENSOR_GATE",
                "caption" : "Gate opening sensor",
                "id" : 60
              }, {
                "maxAlternativeIconIndex" : 1,
                "possibleActions" : [ {
                  "name" : { },
                  "caption" : "caption",
                  "id" : 6
                }, {
                  "name" : { },
                  "caption" : "caption",
                  "id" : 6
                } ],
                "name" : "OPENINGSENSOR_GATE",
                "caption" : "Gate opening sensor",
                "id" : 60
              } ],
              "locationId" : 4,
              "function" : {
                "maxAlternativeIconIndex" : 1,
                "possibleActions" : [ {
                  "name" : { },
                  "caption" : "caption",
                  "id" : 6
                }, {
                  "name" : { },
                  "caption" : "caption",
                  "id" : 6
                } ],
                "name" : "OPENINGSENSOR_GATE",
                "caption" : "Gate opening sensor",
                "id" : 60
              },
              "typeId" : 1000,
              "location" : null,
              "id" : 7,
              "inheritedLocation" : true,
              "iodeviceId" : 1
            }, {
              "hidden" : true,
              "channelNumber" : 1,
              "iodevice" : null,
              "caption" : "caption",
              "type" : {
                "output" : false,
                "name" : "SENSORNO",
                "caption" : "Sensor (normal open)",
                "id" : 1
              },
              "param3" : null,
              "param1" : { },
              "param2" : null,
              "altIcon" : 7,
              "connected" : true,
              "functionId" : 60,
              "supportedFunctions" : [ {
                "maxAlternativeIconIndex" : 1,
                "possibleActions" : [ {
                  "name" : { },
                  "caption" : "caption",
                  "id" : 6
                }, {
                  "name" : { },
                  "caption" : "caption",
                  "id" : 6
                } ],
                "name" : "OPENINGSENSOR_GATE",
                "caption" : "Gate opening sensor",
                "id" : 60
              }, {
                "maxAlternativeIconIndex" : 1,
                "possibleActions" : [ {
                  "name" : { },
                  "caption" : "caption",
                  "id" : 6
                }, {
                  "name" : { },
                  "caption" : "caption",
                  "id" : 6
                } ],
                "name" : "OPENINGSENSOR_GATE",
                "caption" : "Gate opening sensor",
                "id" : 60
              } ],
              "locationId" : 4,
              "function" : {
                "maxAlternativeIconIndex" : 1,
                "possibleActions" : [ {
                  "name" : { },
                  "caption" : "caption",
                  "id" : 6
                }, {
                  "name" : { },
                  "caption" : "caption",
                  "id" : 6
                } ],
                "name" : "OPENINGSENSOR_GATE",
                "caption" : "Gate opening sensor",
                "id" : 60
              },
              "typeId" : 1000,
              "location" : null,
              "id" : 7,
              "inheritedLocation" : true,
              "iodeviceId" : 1
            } ],
            "lastConnected" : "2000-01-23T04:56:07.000+00:00",
            "locationId" : 3,
            "regIpv4" : 7,
            "schedules" : [ {
              "channel" : {
                "hidden" : true,
                "channelNumber" : 1,
                "iodevice" : null,
                "caption" : "caption",
                "type" : {
                  "output" : false,
                  "name" : "SENSORNO",
                  "caption" : "Sensor (normal open)",
                  "id" : 1
                },
                "param3" : null,
                "param1" : { },
                "param2" : null,
                "altIcon" : 7,
                "connected" : true,
                "functionId" : 60,
                "supportedFunctions" : [ {
                  "maxAlternativeIconIndex" : 1,
                  "possibleActions" : [ {
                    "name" : { },
                    "caption" : "caption",
                    "id" : 6
                  }, {
                    "name" : { },
                    "caption" : "caption",
                    "id" : 6
                  } ],
                  "name" : "OPENINGSENSOR_GATE",
                  "caption" : "Gate opening sensor",
                  "id" : 60
                }, {
                  "maxAlternativeIconIndex" : 1,
                  "possibleActions" : [ {
                    "name" : { },
                    "caption" : "caption",
                    "id" : 6
                  }, {
                    "name" : { },
                    "caption" : "caption",
                    "id" : 6
                  } ],
                  "name" : "OPENINGSENSOR_GATE",
                  "caption" : "Gate opening sensor",
                  "id" : 60
                } ],
                "locationId" : 4,
                "function" : {
                  "maxAlternativeIconIndex" : 1,
                  "possibleActions" : [ {
                    "name" : { },
                    "caption" : "caption",
                    "id" : 6
                  }, {
                    "name" : { },
                    "caption" : "caption",
                    "id" : 6
                  } ],
                  "name" : "OPENINGSENSOR_GATE",
                  "caption" : "Gate opening sensor",
                  "id" : 60
                },
                "typeId" : 1000,
                "location" : null,
                "id" : 7,
                "inheritedLocation" : true,
                "iodeviceId" : 1
              },
              "caption" : "caption",
              "dateEnd" : "2000-01-23T04:56:07.000+00:00",
              "timeExpression" : "*/5 * * * *",
              "closestExecutions" : [ {
                "past" : [ {
                  "result" : {
                    "caption" : "Successful"
                  },
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "resultTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "failed" : false
                }, {
                  "result" : {
                    "caption" : "Successful"
                  },
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "resultTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "failed" : false
                } ],
                "future" : [ {
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00"
                }, {
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00"
                } ]
              }, {
                "past" : [ {
                  "result" : {
                    "caption" : "Successful"
                  },
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "resultTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "failed" : false
                }, {
                  "result" : {
                    "caption" : "Successful"
                  },
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "resultTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "failed" : false
                } ],
                "future" : [ {
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00"
                }, {
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00"
                } ]
              } ],
              "enabled" : true,
              "mode" : "minutely",
              "dateStart" : "2000-01-23T04:56:07.000+00:00",
              "action" : {
                "name" : { },
                "caption" : "caption",
                "id" : 6
              },
              "actionId" : 9,
              "id" : 5,
              "retry" : true,
              "channelId" : 9
            }, {
              "channel" : {
                "hidden" : true,
                "channelNumber" : 1,
                "iodevice" : null,
                "caption" : "caption",
                "type" : {
                  "output" : false,
                  "name" : "SENSORNO",
                  "caption" : "Sensor (normal open)",
                  "id" : 1
                },
                "param3" : null,
                "param1" : { },
                "param2" : null,
                "altIcon" : 7,
                "connected" : true,
                "functionId" : 60,
                "supportedFunctions" : [ {
                  "maxAlternativeIconIndex" : 1,
                  "possibleActions" : [ {
                    "name" : { },
                    "caption" : "caption",
                    "id" : 6
                  }, {
                    "name" : { },
                    "caption" : "caption",
                    "id" : 6
                  } ],
                  "name" : "OPENINGSENSOR_GATE",
                  "caption" : "Gate opening sensor",
                  "id" : 60
                }, {
                  "maxAlternativeIconIndex" : 1,
                  "possibleActions" : [ {
                    "name" : { },
                    "caption" : "caption",
                    "id" : 6
                  }, {
                    "name" : { },
                    "caption" : "caption",
                    "id" : 6
                  } ],
                  "name" : "OPENINGSENSOR_GATE",
                  "caption" : "Gate opening sensor",
                  "id" : 60
                } ],
                "locationId" : 4,
                "function" : {
                  "maxAlternativeIconIndex" : 1,
                  "possibleActions" : [ {
                    "name" : { },
                    "caption" : "caption",
                    "id" : 6
                  }, {
                    "name" : { },
                    "caption" : "caption",
                    "id" : 6
                  } ],
                  "name" : "OPENINGSENSOR_GATE",
                  "caption" : "Gate opening sensor",
                  "id" : 60
                },
                "typeId" : 1000,
                "location" : null,
                "id" : 7,
                "inheritedLocation" : true,
                "iodeviceId" : 1
              },
              "caption" : "caption",
              "dateEnd" : "2000-01-23T04:56:07.000+00:00",
              "timeExpression" : "*/5 * * * *",
              "closestExecutions" : [ {
                "past" : [ {
                  "result" : {
                    "caption" : "Successful"
                  },
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "resultTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "failed" : false
                }, {
                  "result" : {
                    "caption" : "Successful"
                  },
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "resultTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "failed" : false
                } ],
                "future" : [ {
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00"
                }, {
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00"
                } ]
              }, {
                "past" : [ {
                  "result" : {
                    "caption" : "Successful"
                  },
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "resultTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "failed" : false
                }, {
                  "result" : {
                    "caption" : "Successful"
                  },
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "resultTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "failed" : false
                } ],
                "future" : [ {
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00"
                }, {
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00"
                } ]
              } ],
              "enabled" : true,
              "mode" : "minutely",
              "dateStart" : "2000-01-23T04:56:07.000+00:00",
              "action" : {
                "name" : { },
                "caption" : "caption",
                "id" : 6
              },
              "actionId" : 9,
              "id" : 5,
              "retry" : true,
              "channelId" : 9
            } ],
            "name" : "name",
            "comment" : "comment",
            "location" : null,
            "id" : 2,
            "softwareVersion" : "softwareVersion"
          }, {
            "originalLocation" : null,
            "lastIpv4" : 9,
            "gUIDString" : "gUIDString",
            "originalLocationId" : 2,
            "regDate" : "2000-01-23T04:56:07.000+00:00",
            "channelsIds" : [ 4, 4 ],
            "enabled" : true,
            "connected" : true,
            "channels" : [ {
              "hidden" : true,
              "channelNumber" : 1,
              "iodevice" : null,
              "caption" : "caption",
              "type" : {
                "output" : false,
                "name" : "SENSORNO",
                "caption" : "Sensor (normal open)",
                "id" : 1
              },
              "param3" : null,
              "param1" : { },
              "param2" : null,
              "altIcon" : 7,
              "connected" : true,
              "functionId" : 60,
              "supportedFunctions" : [ {
                "maxAlternativeIconIndex" : 1,
                "possibleActions" : [ {
                  "name" : { },
                  "caption" : "caption",
                  "id" : 6
                }, {
                  "name" : { },
                  "caption" : "caption",
                  "id" : 6
                } ],
                "name" : "OPENINGSENSOR_GATE",
                "caption" : "Gate opening sensor",
                "id" : 60
              }, {
                "maxAlternativeIconIndex" : 1,
                "possibleActions" : [ {
                  "name" : { },
                  "caption" : "caption",
                  "id" : 6
                }, {
                  "name" : { },
                  "caption" : "caption",
                  "id" : 6
                } ],
                "name" : "OPENINGSENSOR_GATE",
                "caption" : "Gate opening sensor",
                "id" : 60
              } ],
              "locationId" : 4,
              "function" : {
                "maxAlternativeIconIndex" : 1,
                "possibleActions" : [ {
                  "name" : { },
                  "caption" : "caption",
                  "id" : 6
                }, {
                  "name" : { },
                  "caption" : "caption",
                  "id" : 6
                } ],
                "name" : "OPENINGSENSOR_GATE",
                "caption" : "Gate opening sensor",
                "id" : 60
              },
              "typeId" : 1000,
              "location" : null,
              "id" : 7,
              "inheritedLocation" : true,
              "iodeviceId" : 1
            }, {
              "hidden" : true,
              "channelNumber" : 1,
              "iodevice" : null,
              "caption" : "caption",
              "type" : {
                "output" : false,
                "name" : "SENSORNO",
                "caption" : "Sensor (normal open)",
                "id" : 1
              },
              "param3" : null,
              "param1" : { },
              "param2" : null,
              "altIcon" : 7,
              "connected" : true,
              "functionId" : 60,
              "supportedFunctions" : [ {
                "maxAlternativeIconIndex" : 1,
                "possibleActions" : [ {
                  "name" : { },
                  "caption" : "caption",
                  "id" : 6
                }, {
                  "name" : { },
                  "caption" : "caption",
                  "id" : 6
                } ],
                "name" : "OPENINGSENSOR_GATE",
                "caption" : "Gate opening sensor",
                "id" : 60
              }, {
                "maxAlternativeIconIndex" : 1,
                "possibleActions" : [ {
                  "name" : { },
                  "caption" : "caption",
                  "id" : 6
                }, {
                  "name" : { },
                  "caption" : "caption",
                  "id" : 6
                } ],
                "name" : "OPENINGSENSOR_GATE",
                "caption" : "Gate opening sensor",
                "id" : 60
              } ],
              "locationId" : 4,
              "function" : {
                "maxAlternativeIconIndex" : 1,
                "possibleActions" : [ {
                  "name" : { },
                  "caption" : "caption",
                  "id" : 6
                }, {
                  "name" : { },
                  "caption" : "caption",
                  "id" : 6
                } ],
                "name" : "OPENINGSENSOR_GATE",
                "caption" : "Gate opening sensor",
                "id" : 60
              },
              "typeId" : 1000,
              "location" : null,
              "id" : 7,
              "inheritedLocation" : true,
              "iodeviceId" : 1
            } ],
            "lastConnected" : "2000-01-23T04:56:07.000+00:00",
            "locationId" : 3,
            "regIpv4" : 7,
            "schedules" : [ {
              "channel" : {
                "hidden" : true,
                "channelNumber" : 1,
                "iodevice" : null,
                "caption" : "caption",
                "type" : {
                  "output" : false,
                  "name" : "SENSORNO",
                  "caption" : "Sensor (normal open)",
                  "id" : 1
                },
                "param3" : null,
                "param1" : { },
                "param2" : null,
                "altIcon" : 7,
                "connected" : true,
                "functionId" : 60,
                "supportedFunctions" : [ {
                  "maxAlternativeIconIndex" : 1,
                  "possibleActions" : [ {
                    "name" : { },
                    "caption" : "caption",
                    "id" : 6
                  }, {
                    "name" : { },
                    "caption" : "caption",
                    "id" : 6
                  } ],
                  "name" : "OPENINGSENSOR_GATE",
                  "caption" : "Gate opening sensor",
                  "id" : 60
                }, {
                  "maxAlternativeIconIndex" : 1,
                  "possibleActions" : [ {
                    "name" : { },
                    "caption" : "caption",
                    "id" : 6
                  }, {
                    "name" : { },
                    "caption" : "caption",
                    "id" : 6
                  } ],
                  "name" : "OPENINGSENSOR_GATE",
                  "caption" : "Gate opening sensor",
                  "id" : 60
                } ],
                "locationId" : 4,
                "function" : {
                  "maxAlternativeIconIndex" : 1,
                  "possibleActions" : [ {
                    "name" : { },
                    "caption" : "caption",
                    "id" : 6
                  }, {
                    "name" : { },
                    "caption" : "caption",
                    "id" : 6
                  } ],
                  "name" : "OPENINGSENSOR_GATE",
                  "caption" : "Gate opening sensor",
                  "id" : 60
                },
                "typeId" : 1000,
                "location" : null,
                "id" : 7,
                "inheritedLocation" : true,
                "iodeviceId" : 1
              },
              "caption" : "caption",
              "dateEnd" : "2000-01-23T04:56:07.000+00:00",
              "timeExpression" : "*/5 * * * *",
              "closestExecutions" : [ {
                "past" : [ {
                  "result" : {
                    "caption" : "Successful"
                  },
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "resultTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "failed" : false
                }, {
                  "result" : {
                    "caption" : "Successful"
                  },
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "resultTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "failed" : false
                } ],
                "future" : [ {
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00"
                }, {
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00"
                } ]
              }, {
                "past" : [ {
                  "result" : {
                    "caption" : "Successful"
                  },
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "resultTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "failed" : false
                }, {
                  "result" : {
                    "caption" : "Successful"
                  },
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "resultTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "failed" : false
                } ],
                "future" : [ {
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00"
                }, {
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00"
                } ]
              } ],
              "enabled" : true,
              "mode" : "minutely",
              "dateStart" : "2000-01-23T04:56:07.000+00:00",
              "action" : {
                "name" : { },
                "caption" : "caption",
                "id" : 6
              },
              "actionId" : 9,
              "id" : 5,
              "retry" : true,
              "channelId" : 9
            }, {
              "channel" : {
                "hidden" : true,
                "channelNumber" : 1,
                "iodevice" : null,
                "caption" : "caption",
                "type" : {
                  "output" : false,
                  "name" : "SENSORNO",
                  "caption" : "Sensor (normal open)",
                  "id" : 1
                },
                "param3" : null,
                "param1" : { },
                "param2" : null,
                "altIcon" : 7,
                "connected" : true,
                "functionId" : 60,
                "supportedFunctions" : [ {
                  "maxAlternativeIconIndex" : 1,
                  "possibleActions" : [ {
                    "name" : { },
                    "caption" : "caption",
                    "id" : 6
                  }, {
                    "name" : { },
                    "caption" : "caption",
                    "id" : 6
                  } ],
                  "name" : "OPENINGSENSOR_GATE",
                  "caption" : "Gate opening sensor",
                  "id" : 60
                }, {
                  "maxAlternativeIconIndex" : 1,
                  "possibleActions" : [ {
                    "name" : { },
                    "caption" : "caption",
                    "id" : 6
                  }, {
                    "name" : { },
                    "caption" : "caption",
                    "id" : 6
                  } ],
                  "name" : "OPENINGSENSOR_GATE",
                  "caption" : "Gate opening sensor",
                  "id" : 60
                } ],
                "locationId" : 4,
                "function" : {
                  "maxAlternativeIconIndex" : 1,
                  "possibleActions" : [ {
                    "name" : { },
                    "caption" : "caption",
                    "id" : 6
                  }, {
                    "name" : { },
                    "caption" : "caption",
                    "id" : 6
                  } ],
                  "name" : "OPENINGSENSOR_GATE",
                  "caption" : "Gate opening sensor",
                  "id" : 60
                },
                "typeId" : 1000,
                "location" : null,
                "id" : 7,
                "inheritedLocation" : true,
                "iodeviceId" : 1
              },
              "caption" : "caption",
              "dateEnd" : "2000-01-23T04:56:07.000+00:00",
              "timeExpression" : "*/5 * * * *",
              "closestExecutions" : [ {
                "past" : [ {
                  "result" : {
                    "caption" : "Successful"
                  },
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "resultTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "failed" : false
                }, {
                  "result" : {
                    "caption" : "Successful"
                  },
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "resultTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "failed" : false
                } ],
                "future" : [ {
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00"
                }, {
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00"
                } ]
              }, {
                "past" : [ {
                  "result" : {
                    "caption" : "Successful"
                  },
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "resultTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "failed" : false
                }, {
                  "result" : {
                    "caption" : "Successful"
                  },
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "resultTimestamp" : "2000-01-23T04:56:07.000+00:00",
                  "failed" : false
                } ],
                "future" : [ {
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00"
                }, {
                  "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00"
                } ]
              } ],
              "enabled" : true,
              "mode" : "minutely",
              "dateStart" : "2000-01-23T04:56:07.000+00:00",
              "action" : {
                "name" : { },
                "caption" : "caption",
                "id" : 6
              },
              "actionId" : 9,
              "id" : 5,
              "retry" : true,
              "channelId" : 9
            } ],
            "name" : "name",
            "comment" : "comment",
            "location" : null,
            "id" : 2,
            "softwareVersion" : "softwareVersion"
          } ],
          "channelsIds" : [ 5, 5 ],
          "enabled" : true
        },
        "id" : 1,
        "channelIds" : [ 6, 6 ],
        "altIcon" : 1
      }
    },
    "ChannelType" : {
      "properties" : {
        "id" : {
          "type" : "integer",
          "description" : "Channel type identifier"
        },
        "name" : {
          "type" : "string",
          "enum" : [ "SENSORNO", "SENSORNC", "DISTANCESENSOR", "CALLBUTTON", "RELAYHFD4", "RELAYG5LA1A", "RELAY2XG5LA1A", "RELAY", "THERMOMETERDS18B20", "DHT11", "DHT21", "DHT22", "AM2301", "AM2302", "THERMOMETER", "HUMIDITYSENSOR", "HUMIDITYANDTEMPSENSOR", "WINDSENSOR", "PRESSURESENSOR", "RAINSENSOR", "WEIGHTSENSOR", "WEATHER_STATION", "DIMMER", "RGBLEDCONTROLLER", "DIMMERANDRGBLED" ]
        },
        "caption" : {
          "type" : "string",
          "example" : "Sensor (normal open)"
        },
        "output" : {
          "type" : "boolean",
          "example" : false,
          "description" : "Whether the channel is output type (i.e. can take action) or input (i.e. provide data)"
        }
      },
      "example" : {
        "output" : false,
        "name" : "SENSORNO",
        "caption" : "Sensor (normal open)",
        "id" : 1
      }
    },
    "ChannelFunction" : {
      "properties" : {
        "id" : {
          "type" : "integer",
          "example" : 60
        },
        "name" : {
          "$ref" : "#/definitions/ChannelFunctionEnumNames"
        },
        "caption" : {
          "type" : "string",
          "example" : "Gate opening sensor"
        },
        "maxAlternativeIconIndex" : {
          "type" : "integer"
        },
        "possibleActions" : {
          "type" : "array",
          "description" : "What can you with with this channel?",
          "items" : {
            "$ref" : "#/definitions/ChannelFunctionAction"
          }
        }
      },
      "example" : {
        "maxAlternativeIconIndex" : 1,
        "possibleActions" : [ {
          "name" : { },
          "caption" : "caption",
          "id" : 6
        }, {
          "name" : { },
          "caption" : "caption",
          "id" : 6
        } ],
        "name" : "OPENINGSENSOR_GATE",
        "caption" : "Gate opening sensor",
        "id" : 60
      }
    },
    "ChannelFunctionEnumNames" : {
      "type" : "string",
      "example" : "OPENINGSENSOR_GATE",
      "enum" : [ "NONE", "CONTROLLINGTHEGATEWAYLOCK", "CONTROLLINGTHEGATE", "CONTROLLINGTHEGARAGEDOOR", "THERMOMETER", "HUMIDITY", "HUMIDITYANDTEMPERATURE", "OPENINGSENSOR_GATEWAY", "OPENINGSENSOR_GATE", "OPENINGSENSOR_GARAGEDOOR", "NOLIQUIDSENSOR", "CONTROLLINGTHEDOORLOCK", "OPENINGSENSOR_DOOR", "CONTROLLINGTHEROLLERSHUTTER", "OPENINGSENSOR_ROLLERSHUTTER", "POWERSWITCH", "LIGHTSWITCH", "DIMMER", "RGBLIGHTING", "DIMMERANDRGBLIGHTING", "DEPTHSENSOR", "DISTANCESENSOR", "OPENINGSENSOR_WINDOW", "MAILSENSOR", "WINDSENSOR", "PRESSURESENSOR", "RAINSENSOR", "WEIGHTSENSOR", "WEATHER_STATION", "STAIRCASETIMER" ]
    },
    "ChannelFunctionAction" : {
      "properties" : {
        "id" : {
          "type" : "integer"
        },
        "name" : {
          "$ref" : "#/definitions/ChannelFunctionActionEnum"
        },
        "caption" : {
          "type" : "string"
        }
      },
      "example" : {
        "name" : { },
        "caption" : "caption",
        "id" : 6
      }
    },
    "ChannelFunctionActionEnum" : {
      "type" : "string",
      "enum" : [ "OPEN", "CLOSE", "SHUT", "REVEAL", "REVEAL_PARTIALLY", "TURN_ON", "TURN_OFF", "SET_RGBW_PARAMETERS", "OPEN_CLOSE", "STOP" ]
    },
    "ChannelParam" : {
      "type" : "integer",
      "description" : "Configuration of the channel behavior. Value meaning depends on the chosen channel function. See more details on [Github Wiki](https://github.com/SUPLA/supla-cloud/wiki/Channel-Functions-parameters)."
    },
    "Device" : {
      "properties" : {
        "id" : {
          "type" : "integer",
          "description" : "Device identifier"
        },
        "name" : {
          "type" : "string"
        },
        "enabled" : {
          "type" : "boolean"
        },
        "comment" : {
          "type" : "string"
        },
        "regDate" : {
          "type" : "string",
          "format" : "date-time"
        },
        "regIpv4" : {
          "type" : "integer"
        },
        "lastConnected" : {
          "type" : "string",
          "format" : "date-time"
        },
        "lastIpv4" : {
          "type" : "integer"
        },
        "softwareVersion" : {
          "type" : "string"
        },
        "gUIDString" : {
          "type" : "string"
        },
        "locationId" : {
          "type" : "integer"
        },
        "originalLocationId" : {
          "type" : "integer"
        },
        "channelsIds" : {
          "type" : "array",
          "items" : {
            "type" : "integer"
          }
        },
        "connected" : {
          "type" : "boolean"
        },
        "location" : {
          "$ref" : "#/definitions/Location"
        },
        "originalLocation" : {
          "$ref" : "#/definitions/Location"
        },
        "channels" : {
          "type" : "array",
          "description" : "Returned only if requested by the `include` parameter.",
          "items" : {
            "$ref" : "#/definitions/Channel"
          }
        },
        "schedules" : {
          "type" : "array",
          "description" : "Returned only if requested by the `include` parameter.",
          "items" : {
            "$ref" : "#/definitions/Schedule"
          }
        }
      },
      "example" : {
        "originalLocation" : null,
        "lastIpv4" : 9,
        "gUIDString" : "gUIDString",
        "originalLocationId" : 2,
        "regDate" : "2000-01-23T04:56:07.000+00:00",
        "channelsIds" : [ 4, 4 ],
        "enabled" : true,
        "connected" : true,
        "channels" : [ {
          "hidden" : true,
          "channelNumber" : 1,
          "iodevice" : null,
          "caption" : "caption",
          "type" : {
            "output" : false,
            "name" : "SENSORNO",
            "caption" : "Sensor (normal open)",
            "id" : 1
          },
          "param3" : null,
          "param1" : { },
          "param2" : null,
          "altIcon" : 7,
          "connected" : true,
          "functionId" : 60,
          "supportedFunctions" : [ {
            "maxAlternativeIconIndex" : 1,
            "possibleActions" : [ {
              "name" : { },
              "caption" : "caption",
              "id" : 6
            }, {
              "name" : { },
              "caption" : "caption",
              "id" : 6
            } ],
            "name" : "OPENINGSENSOR_GATE",
            "caption" : "Gate opening sensor",
            "id" : 60
          }, {
            "maxAlternativeIconIndex" : 1,
            "possibleActions" : [ {
              "name" : { },
              "caption" : "caption",
              "id" : 6
            }, {
              "name" : { },
              "caption" : "caption",
              "id" : 6
            } ],
            "name" : "OPENINGSENSOR_GATE",
            "caption" : "Gate opening sensor",
            "id" : 60
          } ],
          "locationId" : 4,
          "function" : {
            "maxAlternativeIconIndex" : 1,
            "possibleActions" : [ {
              "name" : { },
              "caption" : "caption",
              "id" : 6
            }, {
              "name" : { },
              "caption" : "caption",
              "id" : 6
            } ],
            "name" : "OPENINGSENSOR_GATE",
            "caption" : "Gate opening sensor",
            "id" : 60
          },
          "typeId" : 1000,
          "location" : null,
          "id" : 7,
          "inheritedLocation" : true,
          "iodeviceId" : 1
        }, {
          "hidden" : true,
          "channelNumber" : 1,
          "iodevice" : null,
          "caption" : "caption",
          "type" : {
            "output" : false,
            "name" : "SENSORNO",
            "caption" : "Sensor (normal open)",
            "id" : 1
          },
          "param3" : null,
          "param1" : { },
          "param2" : null,
          "altIcon" : 7,
          "connected" : true,
          "functionId" : 60,
          "supportedFunctions" : [ {
            "maxAlternativeIconIndex" : 1,
            "possibleActions" : [ {
              "name" : { },
              "caption" : "caption",
              "id" : 6
            }, {
              "name" : { },
              "caption" : "caption",
              "id" : 6
            } ],
            "name" : "OPENINGSENSOR_GATE",
            "caption" : "Gate opening sensor",
            "id" : 60
          }, {
            "maxAlternativeIconIndex" : 1,
            "possibleActions" : [ {
              "name" : { },
              "caption" : "caption",
              "id" : 6
            }, {
              "name" : { },
              "caption" : "caption",
              "id" : 6
            } ],
            "name" : "OPENINGSENSOR_GATE",
            "caption" : "Gate opening sensor",
            "id" : 60
          } ],
          "locationId" : 4,
          "function" : {
            "maxAlternativeIconIndex" : 1,
            "possibleActions" : [ {
              "name" : { },
              "caption" : "caption",
              "id" : 6
            }, {
              "name" : { },
              "caption" : "caption",
              "id" : 6
            } ],
            "name" : "OPENINGSENSOR_GATE",
            "caption" : "Gate opening sensor",
            "id" : 60
          },
          "typeId" : 1000,
          "location" : null,
          "id" : 7,
          "inheritedLocation" : true,
          "iodeviceId" : 1
        } ],
        "lastConnected" : "2000-01-23T04:56:07.000+00:00",
        "locationId" : 3,
        "regIpv4" : 7,
        "schedules" : [ {
          "channel" : {
            "hidden" : true,
            "channelNumber" : 1,
            "iodevice" : null,
            "caption" : "caption",
            "type" : {
              "output" : false,
              "name" : "SENSORNO",
              "caption" : "Sensor (normal open)",
              "id" : 1
            },
            "param3" : null,
            "param1" : { },
            "param2" : null,
            "altIcon" : 7,
            "connected" : true,
            "functionId" : 60,
            "supportedFunctions" : [ {
              "maxAlternativeIconIndex" : 1,
              "possibleActions" : [ {
                "name" : { },
                "caption" : "caption",
                "id" : 6
              }, {
                "name" : { },
                "caption" : "caption",
                "id" : 6
              } ],
              "name" : "OPENINGSENSOR_GATE",
              "caption" : "Gate opening sensor",
              "id" : 60
            }, {
              "maxAlternativeIconIndex" : 1,
              "possibleActions" : [ {
                "name" : { },
                "caption" : "caption",
                "id" : 6
              }, {
                "name" : { },
                "caption" : "caption",
                "id" : 6
              } ],
              "name" : "OPENINGSENSOR_GATE",
              "caption" : "Gate opening sensor",
              "id" : 60
            } ],
            "locationId" : 4,
            "function" : {
              "maxAlternativeIconIndex" : 1,
              "possibleActions" : [ {
                "name" : { },
                "caption" : "caption",
                "id" : 6
              }, {
                "name" : { },
                "caption" : "caption",
                "id" : 6
              } ],
              "name" : "OPENINGSENSOR_GATE",
              "caption" : "Gate opening sensor",
              "id" : 60
            },
            "typeId" : 1000,
            "location" : null,
            "id" : 7,
            "inheritedLocation" : true,
            "iodeviceId" : 1
          },
          "caption" : "caption",
          "dateEnd" : "2000-01-23T04:56:07.000+00:00",
          "timeExpression" : "*/5 * * * *",
          "closestExecutions" : [ {
            "past" : [ {
              "result" : {
                "caption" : "Successful"
              },
              "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00",
              "resultTimestamp" : "2000-01-23T04:56:07.000+00:00",
              "failed" : false
            }, {
              "result" : {
                "caption" : "Successful"
              },
              "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00",
              "resultTimestamp" : "2000-01-23T04:56:07.000+00:00",
              "failed" : false
            } ],
            "future" : [ {
              "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00"
            }, {
              "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00"
            } ]
          }, {
            "past" : [ {
              "result" : {
                "caption" : "Successful"
              },
              "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00",
              "resultTimestamp" : "2000-01-23T04:56:07.000+00:00",
              "failed" : false
            }, {
              "result" : {
                "caption" : "Successful"
              },
              "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00",
              "resultTimestamp" : "2000-01-23T04:56:07.000+00:00",
              "failed" : false
            } ],
            "future" : [ {
              "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00"
            }, {
              "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00"
            } ]
          } ],
          "enabled" : true,
          "mode" : "minutely",
          "dateStart" : "2000-01-23T04:56:07.000+00:00",
          "action" : {
            "name" : { },
            "caption" : "caption",
            "id" : 6
          },
          "actionId" : 9,
          "id" : 5,
          "retry" : true,
          "channelId" : 9
        }, {
          "channel" : {
            "hidden" : true,
            "channelNumber" : 1,
            "iodevice" : null,
            "caption" : "caption",
            "type" : {
              "output" : false,
              "name" : "SENSORNO",
              "caption" : "Sensor (normal open)",
              "id" : 1
            },
            "param3" : null,
            "param1" : { },
            "param2" : null,
            "altIcon" : 7,
            "connected" : true,
            "functionId" : 60,
            "supportedFunctions" : [ {
              "maxAlternativeIconIndex" : 1,
              "possibleActions" : [ {
                "name" : { },
                "caption" : "caption",
                "id" : 6
              }, {
                "name" : { },
                "caption" : "caption",
                "id" : 6
              } ],
              "name" : "OPENINGSENSOR_GATE",
              "caption" : "Gate opening sensor",
              "id" : 60
            }, {
              "maxAlternativeIconIndex" : 1,
              "possibleActions" : [ {
                "name" : { },
                "caption" : "caption",
                "id" : 6
              }, {
                "name" : { },
                "caption" : "caption",
                "id" : 6
              } ],
              "name" : "OPENINGSENSOR_GATE",
              "caption" : "Gate opening sensor",
              "id" : 60
            } ],
            "locationId" : 4,
            "function" : {
              "maxAlternativeIconIndex" : 1,
              "possibleActions" : [ {
                "name" : { },
                "caption" : "caption",
                "id" : 6
              }, {
                "name" : { },
                "caption" : "caption",
                "id" : 6
              } ],
              "name" : "OPENINGSENSOR_GATE",
              "caption" : "Gate opening sensor",
              "id" : 60
            },
            "typeId" : 1000,
            "location" : null,
            "id" : 7,
            "inheritedLocation" : true,
            "iodeviceId" : 1
          },
          "caption" : "caption",
          "dateEnd" : "2000-01-23T04:56:07.000+00:00",
          "timeExpression" : "*/5 * * * *",
          "closestExecutions" : [ {
            "past" : [ {
              "result" : {
                "caption" : "Successful"
              },
              "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00",
              "resultTimestamp" : "2000-01-23T04:56:07.000+00:00",
              "failed" : false
            }, {
              "result" : {
                "caption" : "Successful"
              },
              "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00",
              "resultTimestamp" : "2000-01-23T04:56:07.000+00:00",
              "failed" : false
            } ],
            "future" : [ {
              "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00"
            }, {
              "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00"
            } ]
          }, {
            "past" : [ {
              "result" : {
                "caption" : "Successful"
              },
              "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00",
              "resultTimestamp" : "2000-01-23T04:56:07.000+00:00",
              "failed" : false
            }, {
              "result" : {
                "caption" : "Successful"
              },
              "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00",
              "resultTimestamp" : "2000-01-23T04:56:07.000+00:00",
              "failed" : false
            } ],
            "future" : [ {
              "plannedTimestamp" : "2000-01-23T04:56:07.000+00:00"
            }, {
[...]
