# SUPLA-API-CLIENT for PHP

[![Latest Release](https://img.shields.io/github/release/SUPLA/api-client-php.svg)](https://github.com/SUPLA/api-client-php/releases/latest)
[![Build Status](https://travis-ci.org/SUPLA/api-client-php.svg?branch=master)](https://travis-ci.org/SUPLA/supla-cloud)
[![Packagist Downloads](https://img.shields.io/packagist/dt/SUPLA/api-client.svg)](https://packagist.org/packages/supla/api-client)

Your home connected. www.supla.org

# Installation

Install with [Composer](https://getcomposer.org/).

```
composer require supla/api-client
```

# Configuration

Get the API configuration values from the SUPLA-CLOUD you use.
You can find them on the *RESTFUL API* page after enabling it.

![](img/restful-api-cloud.jpg)

Then create an instance of a client in your code.

```php
<?php
require_once(__DIR__ . '/vendor/autoload.php');

$client = new SuplaApi(
    'https://svr4.supla.org', // address of the SUPLA Cloud
    '1_6cabrio4xdcsw8sk4socc04k00os4ssw88wc0kkws0g4ogkwgg', // Client ID
    '54etn7d5ops0cooww80s0c8o88ssgkgsw4c4o8ks4wswgc0ww4', // Client Secret
    'api_1', // Username
    'pass' // Password
);
```

## Requirements

PHP 5.5 and later

## Documentation for API Endpoints

All URIs are relative to *{{basePath}}*

Class | Method | HTTP request | Description
------------ | ------------- | ------------- | -------------
{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}*{{classname}}* | [**{{operationId}}**]({{apiDocPath}}/{{classname}}.md#{{operationIdLowerCase}}) | **{{httpMethod}}** {{path}} | {{#summary}}{{summary}}{{/summary}}
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}

## Documentation For Models

{{#models}}{{#model}} - [{{{classname}}}]({{modelDocPath}}/{{{classname}}}.md)
{{/model}}{{/models}}
